@page
@model IndexModel
@{
    ViewData["Title"] = "The Atlanta Orchid Society - 2022 Spring Auction";
}

<div class="columns2">
    <img class="logo" src="logo.png" />
    <h1>2022 Spring Auction</h1>

    <h2>1. Introduction</h2>
    @Html.Raw(Model.IntroductionText)

    <h2>2. Acknowledgements</h2>
    @Html.Raw(Model.AcknowledgementText)

    <div class="columns3">
        <ul>
            @{
                foreach (var contributor in Model.AcknowledgementList)
                {
                    <li>@contributor</li>
                }
            }
        </ul>
    </div>
    <br/>

    <h2>3. Disclaimers</h2>
    @Html.Raw(Model.DisclaimersText)

    <h2>4. Icon Keys</h2>
    <table>
        <tr><th>Temperature</th><th>Other</th></tr>
        <tr>
            <td id="temperature" class="desc">
                <table>
                    @{
                        foreach (var t in Model.VisibleTemperatureLabels)
                        {
                            <tr><td>@Html.Raw(t.HTML)</td><td>@t.Description</td></tr>
                        }
                    }
                </table>
            </td>
            <td id="other" class="desc">
                <table>
                    @{
                        foreach (var l in Model.VisibleMiscLabels)
                        {
                            <tr><td>@Html.Raw(l.HTML)</td><td>@l.Description</td></tr>
                        }
                    }
                </table>
            </td>
        </tr>
        <tr><th>Light</th><th>Watering</th></tr>
        <tr>
            <td id="light" class="desc">
                <table>
                    @{
                        foreach (var l in Model.VisibleLightingLabels)
                        {
                            <tr><td>@Html.Raw(l.HTML)</td><td>@l.Description</td></tr>
                        }
                    }
                </table>
            </td>
            <td id="water" class="desc">
                <table>
                    @{
                        foreach (var l in Model.VisibleWateringLabels)
                        {
                            <tr><td>@Html.Raw(l.HTML)</td><td>@l.Description</td></tr>
                        }
                    }
                </table>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>

    <h2>5. Plant List</h2>
    <div id="plants">
        @{
            foreach (var val in Model.Cards)
            {
                <table class="plant-table">
                    <tr>
                        <td colspan="2">
                            <h3>@val.Name</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="photo" rowspan="3">
                            @if (val.Attachments.Any())
                            {
                                <img class="photo" src="@val.Attachments.First().Url" />
                            }
                        </td>
                        <td class="attrib">
                            @{
                                foreach (var label in Model.GetBloomingLabels()
                                    .Union(Model.GetTemperatureLabels())
                                    .Union(Model.GetLightingLabels())
                                    .Union(Model.GetWateringLabels())
                                    .Union(Model.GetSizeLabels())
                                    .Union(Model.GetFormatLabels()))
                                {
                                    if (val.LabelIds.Contains(label.Id))
                                    {
                                        @Html.Raw(label.HTML)
                                    }
                                }
                            }
                            </td>
                        </tr>
                        <tr>
                            <td class="desc">
                                <div class="desc">@val.Description</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="country"></td>
                        </tr>
                    </table>
            }
        }
    </div>
</div>
